.home {
  contain-intrinsic-height: 750px;
  background: linear-gradient(to right, rgb(25, 24, 24), rgb(93, 91, 91));

  .home__img-card {
    padding-top: 175px;

    .card {
      background-color: #00000080;
      width: 730px;
      height: 349px;
      margin: auto;
      margin-bottom: 226px;
    }

    .title {
      padding-top: 6rem;
      justify-content: center;
      text-align: center;
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
    }

    .text {
      width: 537px;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      margin: 0 auto;
    }
  }

  .home__products-section {
    background-color: #00100f;
    padding: 50px 20px 90px;
    .title-products {
      text-align: center;
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
    }

    .text-products {
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
    }
  }

  .home__products-detail-section {
    .content-detail-section {
      max-width: 1200px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .title-products-detail {
      padding-top: 90px;
      text-align: left;
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
    }

    .text-products-detail {
      text-align: left;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      color: #56b280;
    }

    p {
      padding-top: 38px;
      text-align: left;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      font-family: "Roboto", sans-serif;
    }

    .btn-products-detail {
      margin-top: 68px;
      padding: 0 30px 0 30px;
      text-align: left;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      font-family: "Roboto", sans-serif;
      background-color: #56b280;
      border-radius: 5px;
      color: white;
      text-transform: none;
    }

    .img-products-detail {
      border-radius: 49%;
    }
  }

  .testimonials-section {
    background-color: black;
    padding: 50px 100px 110px;
  }

  .title-testimonials {
    padding-top: 30px;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
  }

  .text-testimonials {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .col {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
  }

  .testimonials-card {
    background-color: #fff;
    padding: 35px 70px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 8px darkslateblue;
  }

  .testimonial-img {
    border-radius: 50%;
  }

  .testimonial {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    color: #56b280;
  }

  .autor {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: #7c8087;
  }

  .stars {
    padding-bottom: 20px;
  }

  .popular-section {
    background-color: #00100f;
    padding: 50px 60px;
  }
}
