.footer-container {
  height: 100px;
  margin: 25px 150px;
  border-top: 1.5px solid white;
}

.footer-logo {
  width: min-content;
  position: absolute;
  font-family: inherit;
  height: 90px;
  font-size: xx-large;
  padding-top: 0.5em;
}

.header {
  font-size: large;
  color: greenyellow;
}

.features {
  padding-top: 1em;
  font-size: small;
  margin-left: auto;
  width: 550px;
  column-count: 3;
  column-gap: 1em;
}
& li {
  list-style: none;
  padding: .6rem 0 .2rem;
}
